.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
  height: 100vh;
  grid-template-areas:
    "navMenu    navMenu   navMenu"
    ".          content   ."
    "sidebar-1  content   sidebar-2"
    "sidebar-1  content   sidebar-2"
    "footer     footer    footer"
}

.navMenu {
  grid-area: navMenu;
  background-color: blue;
}

.item1 {
  grid-area: sidebar-1;
  background-color: yellow;
}

.navArrowLeft {
  height: 10px;
  width: 10px;
}

.item2 {
  grid-area: content;
  background-color: green;
}

.item3 {
  grid-area: sidebar-2;
  background-color: yellow;
}

.footer {
  grid-area: footer;
  background-color: red;
}


@media (max-width: 700px) {
  .container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    grid-template-areas:
      "navMenu"
      "content"
      "footer"
  }

  .item1, .item3{
    display: none;
  }
}
