body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contentContainer {
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgba(50, 70, 155, .7);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
  height: 100vh;
  grid-template-areas:
    "navMenu      navMenu   navMenu"
    "sideLeftNav  content   sideRightNav"
    "sideLeftNav  content   sideRightNav"
    "sideLeftNav  content   sideRightNav"
    "footer       footer    footer"
}

.navMenu {
  grid-area: navMenu;
  margin: 0px 10px 0px;
  background: #292b2c;
}

.sideLeftNav {
  grid-area: sideLeftNav;
}

.navArrowLeft {
  height: 10px;
  width: 10px;
}

.content {
  padding-top: 20px;
  grid-area: content;
}

.sideRightNav {
  grid-area: sideRightNav;
}

.footer {
  grid-area: footer;
  background-color: #292b2c;
}


@media (max-width: 700px) {

  .contentContainer {
    background-image: url("./img/bgMobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
      "navMenu"
      "content"
      "footer"
  }

  .navMenu {
    margin: 0;
  }

  .sideLeftNav, .sideRightNav{
    display: none;
  }
}
